# emacs -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# emacs projectiles files
.projectile

# directory configuration
.dir-locals.el

# backup
*.bak
*.gho
*.ori
*.orig
*.tmp

# Swap
.*.kate-swp
.swp.*

# Swap - Vim
[._]*.s[a-v][a-z]
# !*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
# Session
Session.vim
Sessionx.vim

# redis binary dump (dump.rdb) files
*.rdb

# Projetc specific
local/
logs/

.idea
.env
docker/.env_docker
docker/secrets/
docker/backup/
docker/db_data/
docker/db_data_dev/
docker/config/
docker/upload/
docker/test_data/
docker/data/
