{% extends 'layout.html' %}
{% set active_page = 'modomics' -%}
{% block body %}
    <div class="jumbotron">
        <div class="panel-group">
            <h4 class="typography-display-1">Modomics</h4>
            <p class="col-lg-8 justify-content-center">
                To synchronize efforts towards concordant curation criteria, quality and interoperability standards, SciModoM aims to mirror curated modifications with the modification data from the <a class="text-info" href="https://iimcb.genesilico.pl/modomics/"> "Modomics database" </a>.
            </p>
        </div>
    </div>

{% endblock %}
