{% extends 'layout.html' %}
{% set active_page = 'news' -%}
{% block body %}
    <div class="jumbotron px-lg-3">
        <div class="panel-group">
            <h4 class="typography-display-1">News/Updates</h4>
            <div class="list-group col-lg-8 mt-3 align-content-center">
            
                <a href="https://github.com/dieterich-lab/rmap_web/tree/dev"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Sci-ModoM under development</h5>
                        <small class="text-muted">2022-2023</small>
                    </div>
                    <small class="text-muted"> Sci-ModoM is currently under development: it's appearance and functionality may change at any time.</small><br>
                    <small class="text-muted"> Click for more details</small>
                </a>
                
                <!--<a href="https://github.com/dieterich-lab/dorina/commit/035fa4fc00d437a3ae2cbb825c233b2da4821da4"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">doRiNA was ported to python 3</h5>
                        <small class="text-muted"> 18 Dec 2017</small>
                    </div>
                    <p class="mb-1"> doRiNA was updated to work with
                    python3 </p>
                    <small class="text-muted"> Click for more details</small>
                </a>
               -->
            </div>

        <p class="col-lg-8 justify-content-center">
	<br>
        <!-- <p>Sci-ModoM is a project of RMaP developed by the <a class="text-info" href="https://dieterichlab.org/"> Dieterich Lab </a><br><small>Section of Bioinformatics
           and Systems Cardiology<br> Klaus Tschira Institute for Integrative Computational Cardiology<br> Department of Internal Medicine III -
	   University Hospital Heidelberg</small> -->
	<!--<br>
	DoRiNA and webdorina was developed by Kai Blin.<br>
	Thiago Britto-Borges extended the current code base.<br>
	Etienne Boileau is currently in charge of Sci-ModoM.<br>
	Tobias Jakobi is in charge of web service deployment and infrastructure support<br>-->
        </div>
    </div>
{% endblock %}
