{% extends 'layout.html' %}
{% set active_page = "index" %}
{% block body %}
    <div class="jumbotron mb-5 px-lg-3"
         style="background-color: #5bb9cf !important;">
        <h2 class="typography-display-4 font-weight-bold d-flex justify-content-center">
            RMaP</h2>
        <br>
        <p class="d-flex justify-content-center mt-3 font-weight-light typography-title">
            is a database (<i>under construction</i>) of RNA modifications that allows to perform queries 
            to determine if a site is subject to modification or processing events.
        </p>
    </div>

    <div class="jumbotron px-lg-3">
        <div class="doc-main">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="bd-content mb-5">

                        <p> RMap aims to address the following:</p>


                        <ul class="list-group">
                            <li class="list-group-item">harmonize transcriptome-wide data 
                            exchange formats and interoperability standards
                            </li>
                            <li class="list-group-item">provide a critical assessment 
                            of and integration with public data
                            </li>
                            <li class="list-group-item">encompass all known
                            RNA modifications across multiple assays or 
                            experimental techniques
                            </li>
                            <li class="list-group-item">integrate data from different
                            model organisms and/or tissues.
                            </li>
                        </ul>
                        <br>
                        <p class="mt-2">
                            RMaP uses the doRiNA code base and its web-interface is
                            currently build on the webDorina application.
                            RMap is developed by
                            the <a class="text-info"
                                   href="https://dieterichlab.org/">
                            Dieterich Lab </a>, Section of Bioinformatics
                            and Systems Cardiology, Klaus Tschira Institute
                            for Integrative Computational Cardiology
                            Department of Internal Medicine III -
                            University Hospital Heidelberg and German Center
                            for Cardiovascular Research (DZHK) - Partner
                            site Heidelberg/Mannheim.

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_scripts %}
{% endblock %}
