#
# This is the template for the .env file used by compose:
# - for running a multi-container application (server and database) with docker-compose.yml; or
# - for running a development server using docker-compose-db-only.yml (database only).
#

# Use your preferred container CLI.

DOCKER=podman

# Define the docker images to use.
DB_IMAGE_NAME=scimodom_db:latest
APP_IMAGE_NAME=scimodom_app:latest

# Used for pre/post restore scripts.
DB_CONTAINER_NAME=docker-scimodom_db-1

# The parameters below are only used inside the containers.
# There should be no need to ever change them.
MARIADB_USER=scimodom
MARIADB_DATABASE=scimodom
MARIADB_ROOT_PASSWORD_FILE=/run/secrets/mariadb-root
MARIADB_PASSWORD_FILE=/run/secrets/mariadb-scimodom

## --------------------------------------------------------
## To be used with docker-compose.yml (server and database)
## --------------------------------------------------------

# Configuration for the web server

HTTP_PORT=8000
HTTP_WORKER_PROCESSES=4
HTTP_WORKER_TIMEOUT=120
# Usually you will have a reverse proxy in front to terminate TLS, use it's name below.
HTTP_PUBLIC_URL=https://scimodom.my-site.org
# If we run behind a reverse proxy we need to know it's IP address(es) so that we trust
# the X-Forwarded-Proto header. Otherwise, we might generate incorrect redirects (http instead of https).
HTTP_REVERSE_PROXY_IPS=''

# Mail server to use. It must be willing to relay emails for your host/SMTP_FROM_ADDRESS.
SMTP_SERVER=mail-server.my-site.org
# Email address to use as sender for emails.
SMTP_FROM_ADDRESS=scimodom@my-site.org
# Address to send notifications to about user requests
NOTIFICATION_ADDRESS=scimodom@my-site.org

# Directories to use for various stuff on the host machine.
# The path may be absolute or relative to the place where you run compose.

# Used for database backup.
HOST_BACKUP_DIR=/path/to/backup
# Auto-configured passwords.
HOST_SECRETS_DIR=/path/to/secrets

HOST_IMPORT_DIR=/path/to/import
HOST_CONFIG_DIR=/path/to/config
HOST_DB_DATA_DIR=/path/to/db_data
HOST_DATA_DIR=/path/to/data

## ----------------------------------------------------------
## To be used with docker-compose-db-only.yml (database only)
## ----------------------------------------------------------

# If running the app locally with a database container (docker-compose-db-only.yml).
# The remaining environment variables must be defined in server/.env.

# Used for database backup.
HOST_BACKUP_DIR=/path/to/backup
# Auto-configured passwords.
HOST_SECRETS_DIR=/path/to/secrets

HOST_DEV_DB_DATA_DIR=/path/to/db_data_dev
MARIADB_DEV_PORT=3307

# NOTE: if running ./scripts/create_local_folders.sh, additional variables are required. These variables
# are not used by the database container, but are required by default: HTTP_PUBLIC_URL, HOST_IMPORT_DIR, HOST_CONFIG_DIR, HOST_DB_DATA_DIR.
